<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aisha Nassar dental clinic</title>
    <link rel="icon" href="../static/images/clinic_logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">


</head>
<body style="background-color:#f6f5ec">
=<section class="page_one">
       <div class="header-container">
        <header class="header">
            <H2>
                <div href="#" class="logo"></div>
            </H2>
            <div class="navigation">
                <a href="{{ url_for('Login') }}">Login</a>
                <a href="{{ url_for('About') }}">About</a>
            </div>
        </header>
    </div>
<section class="container">
    <div class="slide_show">

        <div class="slider">
            <img id="slide_1" src="../static/images/slide_show1.JPG" alt="slide show">
            <img id="slide_2" src="../static/images/slide_show2.jpg" alt="slide show">
            <img id="slide_3" src="../static/images/slide_show3.jpg" alt="slide show">
            </div>
        </div>
        <div class="slider-nav">
            <a href="#slide_1"></a>
            <a href="#slide_2"></a>
            <a href="#slide_3"></a>


        </div>


</section>
</section>
<section class="page_two">

</section>
</body>
</html>